:root.theme-dark {
  --bg-img: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --header-color: #db00ff;
  --card-text-color: #000028;
  --section-text-color: #f1b2ce;
  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --section-text-color: #f1b2ce;
    --bg-img: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --accent-color-semi-transparent: #ff007066;
    --title-color: #db00ff;
    --border-color: #ff0070;
    --lamp-visibility: visible;
    --card-text-color: #000028;
  }
}
