:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --button-decorated-color: #353430;
  --button-decorated-color-semi: #35343066;
  --main-card-text-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --card-text-color: #353430;
  --section-text-color: #353430;
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --button-decorated-color: #353430;
    --button-decorated-color-semi: #35343066;
    --main-card-text-color: #353430;
    --accent-color: #ff8dcb;
    --header-color: #ffc2e6;
    --card-text-color: #353430;
    --section-text-color: #353430;
    --rec-visibility: hidden;
  }
}
