/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  background-image: var(--bg-image); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  place-items: center;
  background-attachment: fixed;
  background-color: #000530;
  margin-block: auto;
}

/* Шапка */

.header {
  display: grid;
  block-size: 100%;
  min-height: 668px;
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  font-size: 18px;
  justify-self: flex-end;
}

.header__theme-menu {
  color: var(--button-decorated-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  line-height: 18px;
   display: grid;
  align-self: center; ;
}

.header__theme-menu-button {
  
  background-color: transparent;
  border: none;
  padding: 3px 13px;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--button-decorated-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-decorated-color-semi);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-decorated-color);
  pointer-events: none;
}

.rec {
  font-family: IBM Plex Mono, sans-serif;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 32px;
  font-size: 18px;
  line-height: 25px;
  justify-self: end;
  visibility: var(--rec-visibility);
  }
    
    /* Реализация точки через псевдоэлементn */
.rec::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);;
  margin-left: 10px;
  filter: blur(2px);
  }

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px; 
    height: 25px; 
    border-top: 1px solid var(--button-decorated-color);
    border-right: 1px solid var(--button-decorated-color);
    background-color: transparent; 
}

.decorated-zone::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px; 
    height: 25px; 
    border-bottom: 1px solid var(--button-decorated-color);
    border-left: 1px solid var(--button-decorated-color); 
    background-color: transparent; 
}

.title_style {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: IBM Plex Mono, sans-serif;
  text-shadow: 4px 4px 0 var(--accent-color);
  color:var(--header-color);
  line-height: 83%;
  margin-block: auto;
}


.card_text_item {
  background-color:var(--accent-color);;
  min-height: auto;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--card-text-color);
  grid-row: 3;
  align-items: start; 
  justify-self: center;
  
}

/* Основной блок */

.main {
  display: grid;
  gap: 28px;
  padding: 10px;
}

.main_section_title {
  color:var(--main-card-text-color);
  font-family: IBM Plex Mono, sans-serif;
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.section_title {
  color: var(--card-text-color);
  background-color: var(--accent-color);;
  font-family: IBM Plex Mono, sans-serif;
  
}

.section_text {
  margin-top: 10px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  color: var(--section-text-color);
  line-height: 23.4px;
  margin-bottom: 20px;
}

.section_title_mini {
  font-family: IBM Plex Mono, sans-serif;
  color: var(--card-text-color);
  background-color:var(--accent-color);;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.link {
  text-shadow: 2px 2px 2px var(--accent-color);
  text-decoration: none;
}

.link:focus-visible {
  border: 1px solid var(--button-decorated-color-semi);
}

.link:hover {
  text-decoration: underline var(--button-decorated-color);
}

.parent_img {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.img {
  grid-column: 1 /-1;
  width: 100%;
}

/* Подвал */

.footer {
  position: relative;
  block-size: 100%;
  min-block-size: 668px;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  
}

/* Планшет */
@media screen and (width >= 768px) {

  .page {
    gap: 30px;
  }

  .header {
   
    grid-template-rows: 1fr 99px 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    column-gap: 0px;
    row-gap: 158px;
    
    
  }

  .decorated-zone::before { 
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }


  .header__theme-menu {
    margin-top: 173px;
    grid-area: 1 / 2;
    padding-inline: 20px;
    
   
  }

  .title {
    grid-area: 2 / 1 / span 1 / span 2;
    justify-self: start;
  }

  .card_text_item {
  grid-area: 3 / 2 / span 1 / span 1;
  margin-right: 20px;
  
  margin-bottom: 193px;
  
  }

  .main {
   
    padding: 20px;
    gap: 80px;
  }

  .content__accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section_title {
    margin-bottom: 10px;
  }

  .section_text:last-of-type {
     margin-bottom: 0;
  }

  

  .section_why_and_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_why_and_how > .main_section_title {
    margin-block-start: 0;
  }

  .section_what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr;
    gap: 20px;
  }

  .section_what > .main_section_title {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .article_concentration {
    grid-area: 2 / 1 / span 1 / span 3;
  }

  .article_food {
    grid-area: 3 / 1 / span 1 / span 3;
  }

  .article_gadgets {
    grid-area: 4 / 1 / span 1 / span 3;
  }

  .main_section_title {
    margin-bottom: 0px;
  }

  .parent_img {
    gap: 20px;
    grid-template-rows: 0.62fr 1fr 1.38fr;
    margin-top: 20px;
  }

  .img {
    block-size: 100%;
    object-fit: cover;
    inline-size: 100%;
    object-position: center;
  }

  .img_dawn {
    grid-area: 1 / 1 / span 1 / span 2;
   
  }
  
  .img_dessert {
    grid-area: 1 / 3 / span 2 / span 1;
    
  }

  .img_cassette {
   grid-area: 2 / 1 / span 2 / span 1;  
  }

  .img_books {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .img_street {
    grid-area: 3 / 2 / span 1 / span 2;
  }

   .footer {
    margin-top: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    gap:360px;
  }

  .footer_title {
    grid-area: 2 / 1;
  
  }

}

/* Десктоп */

@media screen and (width >= 1024px) {

    .header {
    height: 100vh;
    grid-template-rows: 1fr min-content 1fr;
    row-gap: 0px;
    padding: 0;
  }

  .decorated-zone::before { 
    top: 10px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

 

   .title_style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin-top: 0px;
   
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;
    justify-self: center;
    align-self: start; /* Выравниваем элемент сверху первой строки */
    
    top: 10px;
  }

    .header__theme-menu-list {
    display: flex;
    justify-self: center;
  }

  .card_text_item {
   
    align-self: center;
    margin-bottom: 114px;
    margin-top: 114px;
  }

 
  .section_attention {
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article_concentration {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .article_food {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .article_gadgets {
    grid-area: 2 / 3 / span 1 / span 1;
  }

}



