.page {
  background-image: var(--bg-image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  place-items: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  margin-block: auto;
  @media screen and (width >= 768px) {
    gap: 40px;
  }
}

/* Шапка */

.header {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  min-block-size: 668px;
  padding: 10px;
  @media screen and (width >= 768px) {
    grid-template-rows: 1fr 99px 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    row-gap: 145px;
    padding: 0px;
  }
  @media screen and (width >= 1024px) {
    grid-template-rows: 1fr min-content 1fr;
    row-gap: 0px;
    padding: 0;
    padding-top: 10px;
  }
}

.header__theme-menu {
  color: var(--button-decorated-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-weight: 400;
  line-height: 19px;
  align-self: center;
  @media screen and (width >= 768px) {
    margin-top: 157px;
    grid-area: 1 / 2;
    padding-inline: 20px;
  }
  @media screen and (width >= 1024px) {
    margin-top: 0px;
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;
    justify-self: center;
    align-self: start;
    top: 10px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  font-size: 18px;
  justify-self: flex-end;
  @media screen and (width >= 1024px) {
    display: flex;
    justify-self: center;
  }
}

.header__theme-menu-button {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px 13px;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--button-decorated-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-decorated-color-semi);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-decorated-color);
  pointer-events: none;
}

.rec {
  font-family:
    IBM Plex Mono,
    sans-serif;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 18px;
  line-height: 25px;
  justify-self: end;
  visibility: var(--rec-visibility);
  @media screen and (width >= 768px) {
    top: 20px;
    right: 28px;
  }
}

.rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--accent-color);
  margin-left: 10px;
  filter: blur(2px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-decorated-color);
  border-right: 1px solid var(--button-decorated-color);
  background-color: transparent;
  @media screen and (width >= 768px) {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-decorated-color);
  border-left: 1px solid var(--button-decorated-color);
  background-color: transparent;
  @media screen and (width >= 768px) {
    bottom: 20px;
    left: 20px;
  }
}

.title {
  @media screen and (width >= 768px) {
    grid-area: 2 / 1 / span 1 / span 2;
    position: relative;
    justify-self: start;
  }
}

.title_style {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family:
    IBM Plex Mono,
    sans-serif;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  line-height: 83%;
  margin-block: auto;
  @media screen and (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  @media screen and (width >= 1024px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.card_text_item {
  background-color: var(--accent-color);
  min-height: auto;
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--card-text-color);
  grid-row: 3;
  align-items: start;
  justify-self: center;
  @media screen and (width >= 768px) {
    grid-area: 3 / 2 / span 1 / span 1;
    margin-right: 20px;
    margin-bottom: 166px;
  }
  @media screen and (width >= 1024px) {
    align-self: center;
    margin-bottom: 26px;
    margin-top: 0px;
  }
}

/* Основной блок */

.main {
  display: grid;
  gap: 50px;
  padding: 10px;
  @media screen and (width >= 768px) {
    padding: 20px;
    gap: 80px;
  }
}

.section {
  line-height: 23.4px;
  font-style: normal;
  font-family:
    IBM Plex Mono,
    sans-serif;
  @media screen and (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    @media screen and (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.section_what {
  @media screen and (width >= 768px) {
    .main_section_title {
      grid-column: 1/-1;
      max-width: 236px;
    }
    .text_blocks {
      margin-top: 20px;
      grid-column: 1/-1;
    }
  }
  @media screen and (width >= 1024px) {
    .main_section_title {
      max-width: 315px;
    }
    .text_blocks {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.text_blocks {
  display: grid;
  gap: 20px;
  @media screen and (width >= 1024px) {
    grid-column: span 2;
  }
}

.main_section_title {
  color: var(--main-card-text-color);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
  @media screen and (width >= 768px) {
    margin-bottom: 0px;
  }
}

.section_title_mini,
.section_title {
  color: var(--card-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
}

.section_title {
  font-weight: 700;
  margin-bottom: 10px;
}

.section_title_mini {
  font-weight: 400;
  margin-top: 10px;
}

.section_text {
  color: var(--section-text-color);
  font-size: 18px;
}

.text_blocks_mini {
  display: grid;
  gap: 10px;
}

.link {
  border: 1px solid transparent;
  text-shadow: 2px 2px 2px var(--accent-color);
  text-decoration: none;
}

.link:focus {
  border: 1px solid var(--section-text-color);
}

.link:hover {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--section-text-color);
}

.section_img {
  @media screen and (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.parent_img {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (width >= 768px) {
    gap: 20px;
    grid-template-rows: 0.62fr 1fr 1.38fr;
  }
}

.img {
  grid-column: 1 /-1;
  width: 100%;
  @media screen and (width >= 768px) {
    block-size: 100%;
    object-fit: cover;
    inline-size: 100%;
    object-position: center;
  }
}

/* Подвал */

.footer {
  position: relative;
  height: 100vh;
  min-block-size: 668px;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  @media screen and (width >= 768px) {
    grid-template-rows: 1fr 1fr 1fr;
    gap: 360px;
  }
  @media screen and (width >= 1024px) {
    gap: 0px;
  }
}

/* Планшет */

@media screen and (width >= 768px) {
  .img_dawn {
    grid-area: 1 / 1 / span 1 / span 2;
    max-height: 192px;
  }

  .img_dessert {
    grid-area: 1 / 3 / span 2 / span 1;
    max-height: 442px;
  }

  .img_cassette {
    grid-area: 2 / 1 / span 2 / span 1;
    max-height: 568px;
  }

  .img_books {
    grid-area: 2 / 2 / span 1 / span 1;
    max-height: 230px;
  }

  .img_street {
    grid-area: 3 / 2 / span 1 / span 2;
    max-height: 318px;
  }

  .footer_title {
    grid-area: 2 / 1;
  }
}

/* Десктоп */

@media screen and (width >= 1024px) {
  .img_dawn {
    grid-area: 1 / 1 / span 1 / span 2;
    max-height: 260px;
  }

  .img_dessert {
    grid-area: 1 / 3 / span 2 / span 1;
    max-height: 595px;
  }

  .img_cassette {
    grid-area: 2 / 1 / span 2 / span 1;
    max-height: 768px;
  }

  .img_books {
    grid-area: 2 / 2 / span 1 / span 1;
    max-height: 315px;
  }

  .img_street {
    grid-area: 3 / 2 / span 1 / span 2;
    max-height: 433px;
  }
}
