:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-decorated-color: #ff0070;
  --button-decorated-color-semi: #ff007066;
  --main-card-text-color: #ff0070;
  --accent-color: #ff0070;
  --header-color: #db00ff;
  --card-text-color: #000028;
  --section-text-color: #f1b2ce;
  --rec-visibility: visible;
}
